@charset "UTF-8";
/* ======= 01 font-family ======= */
/* ======= 02 color ============= */
/*--------------------------------*/
.bg-primary {
  background-color: #AA0601;
}

.bg-light {
  background-color: #FBF2F2;
}

.bg-white {
  background-color: #ffffff;
}

/*--------------------------------*/
.color-primary {
  color: #AA0601;
}

.color-secondary {
  color: #650300;
}

.grey {
  color: #707070;
}

.white {
  color: #ffffff;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* === 自定義 reset ====== */
img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  opacity: 0.5;
}

button {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button:hover {
  opacity: 0.5;
}

label {
  cursor: pointer;
}

input, textarea {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-indent: 12px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #000000;
  outline: none;
  padding: 6px 0;
  margin: 8px 0 16px;
  background-color: #FBF2F2;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 0.2;
}
input::placeholder, textarea::placeholder {
  opacity: 0.2;
}

input[type=checkbox] {
  display: inline-block;
  border: 2px solid #000000;
  outline: none;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

input[type=checkbox]:checked {
  color: #ffffff;
}

input[type=submit] {
  border: none;
  outline: none;
  padding: 16px 0;
  margin: 0;
  color: #ffffff;
  background-color: #AA0601;
}

/* ======= 01 border-box ======= */
*, **::before, *::after {
  box-sizing: border-box;
}

* {
  outline: 1px solid yellowgreen;
}

/* ======= 02 global attributes ===== */
body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  color: #000000;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
}
@media (max-width: 992px) {
  .container {
    padding-inline: 36px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-inline: 15px;
  }
}

.material-symbols-outlined {
  vertical-align: middle;
  font-size: 2.25rem;
  color: #ffffff;
}

/*--------------------------------*/
.font-size-sm {
  font-size: 0.875rem;
}

h1, .h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2, .h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3, .h3 {
  font-size: 2.25rem;
}

h4, .h4 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

h6, .h6 {
  font-size: 1.25rem;
}

/* ======= 03 customize grid ===== */
.row {
  margin-left: -12px;
  margin-right: -12px;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.666%;
}

.col-12 {
  width: 100%;
}

/* ======= 04 flex ======= */
.d-flex {
  display: flex;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* ======= 05 margin ======= */
.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.m0-auto {
  margin: 0 auto;
}

/*--------------------------------*/
.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

/*--------------------------------*/
.mr-1 {
  margin-right: 0.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mr-12 {
  margin-right: 3rem;
}

.mr-16 {
  margin-right: 4rem;
}

/*--------------------------------*/
.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-18 {
  margin-bottom: 4.5rem;
}

/* ======= 06 padding ======= */
.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

/*--------------------------------*/
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* ======= 07 border ======= */
.border-bottom {
  border-bottom: 1px solid #ffffff;
}

.box-shadow {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 4px;
}

/* ======= 08 text-align ======= */
.text-center {
  text-align: center;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

/* --- header 表頭 --- */
.header h1 a {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80px;
  height: 48px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .nav .menu {
    display: none;
  }
}

.moblie-menu {
  display: none;
}
@media (max-width: 767px) {
  .moblie-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .moblie-menu li {
    width: calc(50% - 2px);
    border: 1px solid #ffffff;
  }
}

/* --- footer 表尾 --- */
.footer {
  padding-top: 48px;
  padding-bottom: 32px;
}
@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-block: 24px;
  }
}
@media (max-width: 992px) {
  .footer .subnav {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .footer .subnav {
    gap: 8px;
  }
}
@media (max-width: 992px) {
  .footer .menu a {
    padding: 8px 0;
  }
}
@media (max-width: 767px) {
  .footer .menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer .icon-m {
    gap: 16px;
  }
}
.footer .icon-m img {
  height: 48px;
}
@media (max-width: 992px) {
  .footer .icon-m img {
    height: 40px;
  }
}
@media (max-width: 767px) {
  .footer .icon-m li a {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .footer .icon-l {
    margin: 0;
  }
  .footer .icon-l .material-symbols-outlined {
    font-size: 18px;
    margin-right: 10px;
  }
  .footer .icon-l a {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .copyright {
    padding: 32px 40px;
  }
}
@media (max-width: 767px) {
  .copyright {
    padding: 16px 15px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .copyright ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 16px;
  }
  .copyright ul a {
    margin: 0;
  }
}

/* --- banner 橫幅 --- */
.banner-primary {
  height: 787px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 414px) {
  .banner-primary {
    height: 396px;
  }
  .banner-primary h3 {
    font-size: 16px;
  }
  .banner-primary h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
.banner-primary .container {
  height: 100%;
}
.banner-primary .btn {
  display: inline-block;
  padding: 6px 12px;
}

/* --- 聯名鏡框 --- */
.banner-secondary {
  height: 608px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}