/* --- header 表頭 --- */
.header h1 a {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80px;
    height: 48px;
    @include hide-text;
}
.nav .menu {
    @include iphone {
        display: none;
    }
}
.moblie-menu {
    display: none;
    @include iphone {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        li {
            width: calc(50% - 2px);
            border: 1px solid $white;
        }
    }
}

/* --- footer 表尾 --- */
.footer {
    padding-top: 48px;
    @include iphone {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-block: 24px;
    }
    .subnav {
        @include ipad {
            margin-bottom: 24px;
        }
        @include iphone {
            gap: 8px;
        }
    }
    .menu {
        a {
            @include ipad {
                padding: 8px 0;
            }
        }
        @include iphone {
            display: none;
        }
    }
    .icon-m {
        @include iphone {
            gap: 16px;
        }
        img {
            height: 48px;
            @include ipad {
                height: 40px;
            }
        }
        li a {
            @include iphone {
                margin: 0;
            }
        }
    }
    .icon-l {
        @include iphone {
            margin: 0;
            .material-symbols-outlined {
                font-size: 18px;
                margin-right: 10px;
            }
            a {
                font-size: 24px;
            }
        }
    }
}
.copyright {
    @include ipad {
        padding: 32px 40px;
    }
    @include iphone {
        padding: 16px 15px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        ul {
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            font-size: 16px;
            a {
                margin: 0;
            }
        }
        
    }
    
}
