/* ------- header 表頭 ------------- */
.navbar-wrap {
    h1 a {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 80px;
        height: 48px;
        @include hide-text;
    }
    @include iphone {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        max-width: 100%;
        h1 {
            align-self: flex-start;
            a {
                margin: 0 0 16px 15px;
            }
        }
        .navbar-menu {
            width: 100%;
            flex-wrap: wrap;
            li {
                width: calc(50% - 2px);
                border: 1px solid $white;
            }
            a {
                padding: 12px 0;
                margin: 0;
                text-align: center;
            }
        }
    }
}

/* ------- footer 表尾 ------------- */
.footer {
    padding-top: 48px;
    padding-bottom: 32px;
    @include iphone {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-block: 24px;
    }
    .subnav {
        @include ipad {
            margin-bottom: 24px;
        }
        @include iphone {
            gap: 8px;
        }
    }
    .menu {
        a {
            @include ipad {
                padding: 8px 0;
            }
        }
        @include iphone {
            display: none;
        }
    }
    .icon-m {
        img {
            height: 48px;
            @include ipad {
                height: 40px;
            }
            @include moblie {
                height: 24px;
            }
        }
        @include iphone {
            gap: 16px;
        }
        @include moblie {
            gap: 8px;
        }
        li a {
            @include iphone {
                margin: 0;
            }
        }
    }
    .icon-l {
        @include iphone {
            margin: 0;
            .material-symbols-outlined {
                font-size: 18px;
                margin-right: 10px;
            }
            a {
                font-size: 16px;
            }
        }
    }
}
.copyright {
    @include ipad {
        padding: 32px 40px;
    }
    @include iphone {
        padding: 16px 15px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        ul {
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            a {
                font-size: 16px;
                margin: 0;
            }
        }
    }
}