/* --- header 表頭 --- */
.header h1 a {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80px;
    height: 48px;
    @include hide-text;
}

/* --- footer 表尾 --- */
.footer {
    padding-top: 48px;
    .icon img {
        height: 48px;
    }
}
