@mixin hide-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
@mixin ipad {
    @media (max-width: 992px) {
        @content
    }
}
@mixin iphone {
    @media (max-width: 768px) {
        @content
    }
}
@mixin moblie {
    @media (max-width: 568px) {
        @content
    }
}
@mixin moblie-s {
    @media (max-width: 414px) {
        @content
    }
}