/* ======= 01 font-family ======= */
$font-family-base: 'Roboto', 'Noto Sans TC', sans-serif;
$font-size-base: 1rem; // 16px
$h1-font-size: $font-size-base * 4;     // 64px
$h2-font-size: $font-size-base * 3;     // 48px
$h3-font-size: $font-size-base * 2.25;  // 36px
$h4-font-size: $font-size-base * 1.5;   // 24px
$h5-font-size: $font-size-base * 1.25;  // 20px
$h6-font-size: $font-size-base * 0.875; // 14px

/* ======= 02 color ============= */
$color-primary: #AA0601;
$color-secondary: #650300;
$color-light: #FBF2F2;
$black: #000000;
$grey: #707070;
$white: #ffffff;
/*--------------------------------*/
.bg-primary {
    background-color: $color-primary;
}
.bg-light {
    background-color: $color-light;
}
.bg-white {
    background-color: #ffffff;
}
/*--------------------------------*/
.color-primary {
    color: $color-primary;
}
.color-secondary {
    color: $color-secondary;
}
.grey {
    color: $grey;
}
.white {
    color: #ffffff;
}