/* === 01 顏色 ====== */

/* --- 01-1. 色系 --- */
$color-primary: #AA0601;
$color-secondary: #FBF2F2;
$black: #000000;
$white: #ffffff;
    
/* --- 01-2. 背景色 --- */
.bg-primary {
    background-color: $color-primary;
}
.bg-secondary {
    background-color: $color-secondary;
}
    
/* --- 01-3. 文字顏色 --- */
.color-primary {
    color: $color-primary;
}
.color-secondary {
    color: $color-secondary;
}
.white {
    color: #ffffff;
}

/* === 02 display 字體 ====== */
.display-1 {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
}
.display-2 {
    font-size: 2.625rem;
    font-weight: 500;
}
.display-3 {
    font-size: 2rem;
    font-weight: 500;
}
.display-4 {
    font-size: 1.5rem;
    font-weight: 500;
}
.display-5 {
    font-size: 1.125rem;
}

/* === 03 border-box ====== */
**,**::before,*::after {
box-sizing: border-box;
}
*{
outline: 1px solid yellowgreen;
}

/* === 04 全站樣式 ====== */
body {
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}
.material-symbols-outlined {
    vertical-align: middle;
    font-size: 2.25rem;
    color: #ffffff;
}
.row {
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
}
.col-1 {
    width: 8.333%;
}
.col-2 {
    width: 16.666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333%;
}
.col-5 {
    width: 41.666%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333%;
}
.col-8 {
    width: 66.666%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.333%;
}
.col-11 {
    width: 91.666%;
}
.col-12 {
    width: 100%;
}